# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [ ]:
USE BooksDB
Go
-- Correlated subquery

SELECT COUNT(user_id) as happy_readers -- After running subquery, use COUNT to return number of records in subquery
FROM BooksDB.dbo.ratings
WHERE rating > 
    (SELECT average_rating 
    FROM BooksDB.dbo.books 
    WHERE book_id = BooksDB.dbo.ratings.book_id); -- Subquery returns all records where user rated the book > avg

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [ ]:
-- UNION operator

SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > 1000 -- query all rows with >1k one-star reviews
UNION -- stack the results of the queries on top of each other and remove all duplicate rows from the final table
SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_5 > 1000; -- query all rows with >1k five-star reviews

-- make sure the queries are compatible and will end up with the right information
-- in the right columns and stack the results of those queries on top of each other

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [ ]:
-- INTERSECT operator

SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_1 > 1000 -- query all books with >1000 one-star reviews
INTERSECT -- keep only records that appear in both queries
SELECT book_id
FROM BooksDB.dbo.books
WHERE ratings_5 > 1000 -- query all books with >1000 five-star reviews

--- make sure the queries are compatible and will end up with the right information
-- in the right columns and stack the results of those queries on top of each other

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [ ]:
-- EXCEPT operator
SELECT book_id
FROM BooksDB.dbo.books
WHERE language_code = 'en-US' -- query for all books with a language code of 'en-US'
EXCEPT -- do not include any rows in the result table that appear in the second query of this union
SELECT book_id
FROM BooksDB.dbo.books
WHERE language_code = 'en-GB' -- query for all books with a language code of 'en-GB'

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [ ]:
-- Nested subquery

SELECT tag_id, tag_name -- second, use the subquery as a filter on the main table to only get additional 
                        -- information from rows that match the subquery criteria
FROM BooksDB.dbo.tags 
WHERE tag_id IN (
    SELECT tag_id
    FROM BooksDB.dbo.book_tags
    WHERE count > 100000) -- first, the subquery finds all tags ids for tags used >100k times