In [1]:
# install libraries
import pandas as pd

# load the dataset
df = pd.read_csv('../resources/popular_board_game.csv')
df.head()

,name,category,playtime,playtime_num,avg_rating,num_ratings,min_players
0,Agricola,Economic,>90,150,7.98857,61557,1
1,Puerto Rico,Economic,NaN,150,8.03590,61157,3
2,Small World,Fighting,"(60, 90]",800,7.29949,59211,2
3,Codenames,Deduction,<=30,15,7.71148,62563,2
4,Power Grid,Economic,>90,120,7.89004,54420,2

In [2]:
df.shape

(248, 7)

In [3]:
dupes = df.duplicated()
dupes.sum()

4

In [4]:
#using drop_duplicates
df_drop_dup = df.drop_duplicates()
df_drop_dup.shape

(244, 7)

In [5]:
#using keys to dedupe

dupes = df.duplicated()
print(dupes.sum())

#because this piece of code is calling every feature (aka column) from our dataset, it will behave 
    #just like if we used "drop_duplicates" with no arguments
key = ["name", "category", "playtime", "playtime_num", "avg_rating", "num_ratings", "min_players"]
df_dedupped2 = df.drop_duplicates(subset=key)

print(df_dedupped2.shape)

4
(244, 7)

In [6]:
dupes = df.duplicated("name")
print(dupes.sum())

#because we're now only looking at one column/feature as our key, we may see more duplicates
key = ["name"]
df_dedupped3 = df.drop_duplicates(subset=key)

print(df_dedupped3.shape)

5
(243, 7)